# Configuration file

general {
    S:modPack=Vanilla
    B:spammyLogs=false

    optout {
        B:clientTime=false
        B:environment=false
        B:installID=false
        B:javaVersion=false
        B:minecraftVersion=false
        B:modPack=false
        B:ramAllocated=false
        B:ramMax=false
        B:sessionID=false

        mods {
            B:AppleCore=false
            B:Aroma1997Core=false
            B:Aroma1997CoreHelper=false
            B:Aroma1997sDimension=false
            B:AutoRegLib=false
            B:Baubles=false
            B:BetterAchievements=false
            B:BiomesOPlenty=false
            B:BloodArsenal=false
            B:BloodMagic=false
            B:Botania=false
            B:Chameleon=false
            B:ChiselsBytes=false
            B:CustomMainMenu=false
            B:EnderIO=false
            B:EnjinMinecraftPlugin=false
            B:ExtraBitManipulation=false
            B:ExtraUtils2=false
            B:FML=false
            B:FlatBedrockx=false
            B:Forge=false
            B:IC2=false
            B:IGWMod=false
            B:InfernalMobs=false
            B:JEFB=false
            B:JEI=false
            B:Mekanism=false
            B:MekanismGenerators=false
            B:MekanismTools=false
            B:MineTweaker3=false
            B:ModLister=false
            B:Morpheus=false
            B:Morphtool=false
            B:Neat=false
            B:OpenComputers=false
            B:"OpenComputers|Core"=false
            B:PTRModelLib=false
            B:Psi=false
            B:Quark=false
            B:RTG=false
            B:Roguelike=false
            B:SpiceOfLife=false
            B:StevesFactoryManager=false
            B:StorageDrawers=false
            B:Waila=false
            B:WailaHarvestability=false
            B:aalaserminetweak=false
            B:actuallyadditions=false
            B:actuallycomputers=false
            B:advgenerators=false
            B:ae2stuff=false
            B:agricraft=false
            B:appliedenergistics2=false
            B:appliedenergistics2-core=false
            B:architecturecraft=false
            B:autopackager=false
            B:backpacks16840=false
            B:bagginses=false
            B:bdlib=false
            B:bedbugs=false
            B:betterbuilderswands=false
            B:betterfoliage=false
            B:bigreactors=false
            B:bitdrawers=false
            B:bookshelf=false
            B:cfm=false
            B:chisel=false
            B:chiselsandbits=false
            B:clienttweaks=false
            B:colorchat=false
            B:cookingforblockheads=false
            B:craftingtweaks=false
            B:crafttweakerjei=false
            B:ctgui=false
            B:cyberware=false
            B:darkutils=false
            B:dsurround=false
            B:embers=false
            B:enchiridion=false
            B:endercore=false
            B:extrautils2=false
            B:fastleafdecay=false
            B:flatcoloredblocks=false
            B:foamfix=false
            B:foamfixcore=false
            B:forestry=false
            B:ftbl=false
            B:ftbu=false
            B:gendustry=false
            B:geographicraft=false
            B:gravestone=false
            B:guideapi=false
            B:harvestcraft=false
            B:helpfixer=false
            B:icse=false
            B:immersiveengineering=false
            B:industrialwires=false
            B:infinitylib=false
            B:inventorytweaks=false
            B:ironchest=false
            B:ivtoolkit=false
            B:jeibees=false
            B:jeresources=false
            B:journeymap=false
            B:k4lib=false
            B:magneticraft=false
            B:malisisblocks=false
            B:malisiscore=false
            B:malisisdoors=false
            B:malisisswitches=false
            B:mantle=false
            B:mcmultipart=false
            B:mcp=false
            B:mercurius=false
            B:mercurius_updater=false
            B:modtweaker=false
            B:moreoverlays=false
            B:mousetweaks=false
            B:mtlib=false
            B:mtrm=false
            B:natura=false
            B:nethermetals=false
            B:omlib=false
            B:ompd=false
            B:openmodularturrets=false
            B:packingtape=false
            B:platforms=false
            B:pressure=false
            B:progressiveautomation=false
            B:props=false
            B:psionup=false
            B:quantumstorage=false
            B:railcraft=false
            B:randomthings=false
            B:reborncore=false
            B:reborncore-mcmultipart=false
            B:reccomplex=false
            B:refinedstorage=false
            B:rftools=false
            B:rftoolscontrol=false
            B:roots=false
            B:rscircuits=false
            B:shetiphiancore=false
            B:simplyjetpacks=false
            B:soulshardstow=false
            B:storagedrawersextra=false
            B:surge=false
            B:taiga=false
            B:tconstruct=false
            B:tinkersdefense=false
            B:tinkertoolleveling=false
            B:totemic=false
            B:unidict=false
            B:wanionlib=false
            B:wawla=false
            B:wired=false
            B:worldedit=false
            B:xreliquary=false
            B:xtones=false
            B:zerocore=false
            B:ztr=false
        }

    }

}


